<ion-view class="cool-gray-background" view-title="Registration">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="vm.registrationForm.name" placeholder="Name">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="vm.registrationForm.username" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="email" ng-model="vm.registrationForm.email" placeholder="Email">
            </label>
            
            <label class="item item-input">
                <input ng-model="vm.registrationForm.password" type="password" name="password" placeholder="Password">
            </label>
            <label class="item item-input">
                <input type="password" name="password_confirmation" ng-model="vm.registrationForm.password_confirmation" placeholder="Password confirmation"></textarea>
            </label>
        </div>

        <button class="button button-full button-positive" ng-click="vm.registerUser()">Register</button>
    </ion-content>
</ion-view>
