<ion-view view-title="Contacts">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.goToAddContacts()">
            Add contact
        </button>
    </ion-nav-buttons>
    <ion-content>
    <div class="item item-divider">
            Requests Recieved
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-button-right" ng-repeat="requestRecieved in vm.ContactsService.requestsRecievedResults" type="item-text-wrap">
                <h2>{{requestRecieved.uid}}</h2>
                <button class="button button-posistive" ng-click="vm.requestRecievedActionSheet(requestRecieved)">
                  <i class="icon ion-ios-telephone"></i>
                </button>
            </ion-item>
        </ion-list>
        <div class="item item-divider">
            Requests Sent
        </div>
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="requestSent in vm.ContactsService.requestsSentResults" type="item-text-wrap">
                <h2>{{requestSent.uid}}</h2>

                <ion-option-button class="button-assertive" ng-click="vm.remove(event)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <div class="item item-divider">
            Contacts
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="contact in vm.ContactsService.acceptedResults" type="item-text-wrap">
                <h2>{{contact.uid}}</h2>
                <ion-option-button class="button-assertive" ng-click="vm.removeContact(contact)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
