<ion-view class="cool-gray-background" view-title="Meets">
    <ion-nav-buttons side="right">
        <button class="button icon button-clear white-text ion-plus-round" ng-click="vm.transition()">
        </button>
    </ion-nav-buttons>
    <ion-content>




        <div class="list card">
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="event in vm.EventsService.results" type="item-text-wrap" ng-click="vm.goToDetailed(event)">

            <div class="row">
              <div class="col col-10 item-icon-left">
                   <i class="icon ion-unlocked" ng-class="{'ion-locked': event.status == 'full','ion-android-cancel':  event.status == 'canceled' }"></i>
              </div>

              <div class="col col-ID">
                <h2>{{event.title}}</h2>
                <p>Last Update: <span am-time-ago="event.updated_at"></span></p>
              </div>
              <div class="col carsTable__col--action"><a ng-click="ctrl.showEditCarForm(car)" class=" icon-accessory icon ion-chevron-right"></a></div>
            </div>
                <ion-option-button class="button-assertive" ng-click="vm.remove(  event)">
                    Delete
                </ion-option-button>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
