<ion-view class="cool-gray-background" hide-tabs='true'>
    <ion-nav-title>
        <ion-spinner icon="lines" class="spinner-balanced" ng-if="(vm.values.processing)"></ion-spinner>
    <span ng-if="!(vm.values.processing)">Create Meet<span>
  </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear white-text" ng-click="vm.create(vm.EventsService.newEvent)" ng-disabled="(vm.values.processing)">
            Create
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div class="item item-divider">
                Create Meet
            </div>
            <label class="item item-input">
                <input ng-model="vm.EventsService.newEvent.title" type="text" placeholder="Title" maxlength="50">
            </label>
            <label class="item item-input item-text-wrap">
                <textarea ng-model="vm.EventsService.newEvent.description" placeholder="Description" maxlength="1500" rows="10"></textarea>
            </label>
            <div class="item item-divider"></div>
            <ion-item class="item-icon-right" ng-click="vm.goToInvitePeopleView()">
                Invite Contacts
                <div class="centeredData">
                {{vm.EventsService.newEvent.users.length}}
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-button-right">
                Assist Limit 
                <div class="centeredData" >
                <span infinite>{{vm.EventsService.newEvent.assist_limit | assistLimit}}</span>
                </div>
                <div class="buttons">
                    <button class="button button-energized" ng-click="vm.decreaseAssistLimit()">
                        <i class="icon ion-minus-round"></i>
                    </button>
                    <button class="button button-dark" ng-click="vm.increaseAssistLimit()">
                        <i class="icon ion-plus-round"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
