<ion-view class="cool-gray-background" hide-tabs='true' view-title="Meet Details">
    <ion-nav-buttons side="right">
        <button class="button button-small button-clear" ng-click="vm.goToInvite()">
        <i class="icon ion-person-add"></i>
        </button>
        <button class="button button-small button-clear" ng-click="vm.goToEdit()">
             <i class="icon ion-edit"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
    <div class="item item-divider">
             {{vm.EventsService.currentEvent.title}}
        </div>
        <div class="list card">


               
            <div class="item item-text-wrap">
                {{vm.EventsService.currentEvent.description}}
            </div>
        </div>
        <div class="card card-assertive">
            <div class="button-bar">
                <a class="button button-clear" ng-click="vm.goToInvited('assisting')">
                <i class="icon balanced ion-checkmark-round"></i> {{vm.EventsService.currentEvent.invited_people_counter.assisting}}/{{vm.EventsService.currentEvent.assist_limit}}</a>
                <a class="button button-clear" ng-click="vm.goToInvited('not_assisting')">
                <i class="icon assertive ion-close-round"></i> {{vm.EventsService.currentEvent.invited_people_counter.not_assisting}}</a>
                <a class="button button-clear" ng-click="vm.goToInvited('pending')">
                <i class="icon ion-help"></i> {{vm.EventsService.currentEvent.invited_people_counter.pending}}</a>
            </div>
        </div>
        <div class="list card">
            <ion-item class="item-icon-left">
                <i class="icon ion-email"></i> {{vm.EventsService.currentEvent.status}}
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-key"></i> {{vm.EventsService.currentEvent.admin}}
            </ion-item>
            <ion-item>
                Last Update </i> <span am-time-ago="vm.EventsService.currentEvent.updated_at"></span>
            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center">
        <div class="button-bar">
            <a class="button button-clear" ng-click="vm.EventsService.assist()">Assist</a>
            <a class="button button-clear button-assertive" ng-click="vm.EventsService.notAssist()">Can't assist</a>
        </div>
    </ion-footer-bar>
</ion-view>
