<ion-view class="cool-gray-background" hide-tabs='true'>
  <ion-nav-title>
    <ion-spinner icon="lines" class="spinner-balanced" ng-if="(vm.values.processing)"></ion-spinner>
    <span ng-if="!(vm.values.processing)">Meet Details<span>
  </ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-small button-clear white-text icon ion-person-add" ng-click="vm.goToInvite()" ng-hide="vm.EventsService.currentEvent.my_privilege == null"></button>
        <button class="button button-small button-clear white-text icon ion-edit" ng-click="vm.goToEdit()" ng-if="vm.EventsService.currentEvent.my_privilege == 'admin'"></button>
    </ion-nav-buttons>
    <ion-content>
    <div class="item item-divider">
             {{vm.EventsService.currentEvent.title}}
        </div>
        <div class="list card">


               
            <div class="item item-text-wrap">
                {{vm.EventsService.currentEvent.description | limitTo : 200 }}<span ng-if="vm.EventsService.currentEvent.description.length > 200">...</span>
            </div>
             
        </div>
        <button class="button button-full" ng-click="vm.goToDescription()">Show full description</button>
        <div class="card card-assertive">
            <div class="button-bar">
                <a class="button button-clear" ng-click="vm.goToInvited('assisting')">
                <i class="icon balanced ion-checkmark-round"></i> {{vm.EventsService.currentEvent.invited_people_counter.assisting}}/{{vm.EventsService.currentEvent.assist_limit | assistLimit}}</a>
                <a class="button button-clear" ng-click="vm.goToInvited('not_assisting')">
                <i class="icon assertive ion-close-round"></i> {{vm.EventsService.currentEvent.invited_people_counter.not_assisting}}</a>
                <a class="button button-clear" ng-click="vm.goToInvited('pending')">
                <i class="icon ion-help"></i> {{vm.EventsService.currentEvent.invited_people_counter.pending}}</a>
            </div>
        </div>
        <div class="list card">
            <ion-item class="item-icon-left">
                <i class="icon" ng-class="{'ion-locked': vm.EventsService.currentEvent.status == 'full','ion-android-cancel': vm.EventsService.currentEvent.status == 'canceled', 'ion-unlocked': vm.EventsService.currentEvent.status == 'open'}"></i> {{vm.EventsService.currentEvent.status}}
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-key energized"></i> 
                {{vm.EventsService.currentEvent.admin.name}}
                <p>{{vm.EventsService.currentEvent.admin.username}}</p>

            </ion-item>
            <ion-item>
                Last update </i> <span am-time-ago="vm.EventsService.currentEvent.updated_at"></span>
            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center">
        <div class="button-bar">
            <a ng-disabled="vm.EventsService.currentEvent.my_status =='assisting'" class="button button-clear" ng-class="{'button-balanced' : vm.EventsService.currentEvent.my_status == 'assisting'}" ng-click="vm.EventsService.assist()">Assist</a>
            <a ng-disabled="vm.EventsService.currentEvent.my_status =='not_assisting'" class="button button-clear" ng-class="{'button-assertive' : vm.EventsService.currentEvent.my_status =='not_assisting'}" ng-click="vm.EventsService.notAssist()">Can't assist</a>
        </div>
    </ion-footer-bar>
</ion-view>
