<ion-view class="cool-gray-background" view-title="Sign In">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input ng-model="vm.loginForm.username" placeholder="Username">
            </label>
            <label class="item item-input">
                <input ng-model="vm.loginForm.password" type="password" name="password" placeholder="Password">
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="vm.signInUser()">Sign In</button>
    </ion-content>
</ion-view>
