<ion-view view-title="Sign In">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="email" name="email" ng-model="vm.loginForm.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input ng-model="vm.loginForm.password" type="password" name="password" placeholder="Password">
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="vm.registerUser()">Sign In</button>
    </ion-content>
</ion-view>
